version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: btob_postgres
    environment:
      POSTGRES_DB: btob_tenants_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5455:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
