# ==================================
# BTOB Platform — Python Dependencies
# ==================================
# Core
Django>=4.2,<7.0
gunicorn>=21.2.0
psycopg2-binary>=2.9.9

# Static Files
whitenoise>=6.5.0

# Auth
django-allauth>=0.56.0

# Templates
django-widget-tweaks>=1.5.0

# Utils
Pillow>=10.0.0
