{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="../approve/" class="addlink" style="background-color: #28a745; color: white !important; font-weight: bold; border-radius: 4px; padding: 10px 15px;">
            اعتماد وتفعيل
        </a>
    </li>
    <li>
        <a href="../reject/" class="deletelink" style="background-color: #dc3545; color: white !important; font-weight: bold; border-radius: 4px; padding: 10px 15px;">
            رفض
        </a>
    </li>
    {{ block.super }}
{% endblock %}
