# Ignore dependencies
node_modules/
package-lock.json

# Ignore Expo files
.expo/
dist/
web-build/
expo_out.log

# Ignore native folders
ios/
android/

# Ignore environment files
.env*.local
.env

# Ignore parent directory things if they leak in
../venv/
../staticfiles/
../media/
../.git/
