{% extends 'base.html' %}
{%load static%}
{% block title %}Order #{{ order.id }}{% endblock %}

{% block content %}
<style>
    .gradient-custom {
        background: #f6f3ff; /* fallback for old browsers */
        background: -webkit-linear-gradient(to top left, #2b4bff, #f6f3ff); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top left, #2b4bff, #f6f3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .card-header {
        background-color: #2b87ff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-header h5 {
        color: #fff;
    }

    .card-body, .card-footer {
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-footer h5 {
        color: #2b72ff;
    }

    .card-body img {
        max-width: 100px;
        border-radius: 8px;
    }

    .text-muted {
        color: #6c757d !important;
    }
</style>



    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-uppercase mb-0">Order Details for {{ order.id }}</h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="mb-4">
                            <p class="lead fw-normal mb-0">Receipt Voucher: {{ order.id }}</p>
                            <div class="d-flex align-items-center">
                                <p class="lead fw-normal mb-0"><a href="https://wa.me/+967779923330?text=I%20would%20like%20to%20make%20the%20payment%20of%20the%20order%20number%20{{order.id}}" target="_blank" rel="noopener noreferrer">Contact to Pay</a></p>
                                
                                <a href="#" onclick="sendMessageAndRedirect('{{ order.id }}'); return false;">
                                    <img src="{% static '/whatsapp_icon.png' %}" alt="WhatsApp" class="w-5 h-5 ml-2">
                                </a>

                            </div>
                            
                            
                        </div>
                        
                        {% for item in order.orderitem_set.all %}
                        <div class="card shadow-sm border mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <img src="{{ item.product.image.url }}" class="img-fluid rounded" alt="{{ item.product.name }}">
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="mb-1">{{ item.product.name }}</h6>
                                        <p class="text-muted mb-2">{{ item.product.description }}</p>
                                        <p class="text-muted mb-0 small">Quantity: {{ item.quantity }}</p>
                                    </div>
                                    <div class="col-md-3 text-md-end">
                                        <p class="text-muted mb-1 small">Price per item:</p>
                                        <p class="text-muted mb-0 small">${{ item.product.price|floatformat:2 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                        <div class="pt-4">
                            <p class="fw-bold mb-1">Order Summary</p>
                            <hr class="mb-3">
                            <div class="d-flex justify-content-between">
                                <p class="text-muted mb-0">Total:</p>
                                <p class="text-muted mb-0 fw-bold">${{ order.get_total_amount|floatformat:2 }}</p>
                            </div>
                            <!-- You can add more order summary details here -->
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-3">
                        <h5 class="d-flex align-items-center justify-content-end text-uppercase mb-0">Total: <span class="h2 mb-0 ms-2">${{ order.get_total_amount|floatformat:2 }}</span></h5>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <br><br>
    <br><br>
    <script>
        function sendMessageAndRedirect(orderId) {
            // Construct the WhatsApp message URL
            var whatsappURL = 'https://wa.me/+967779923330?text=I%20would%20like%20to%20make%20the%20payment%20of%20the%20order%20number%20' + orderId;
            // Open the WhatsApp message URL in a new tab
            window.open(whatsappURL, '_blank');
    
            // Redirect to the desired URL
            var productURL = '';
            window.location.href = productURL;
        }
    </script>


{% endblock %}
